body, html{
    height: 90%;
}
label{
    font-size: larger;
}
.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefbe9;
    color:darkgreen;
    width: 60%;
    margin-left: 20%;
    height: 100%;
}
.section{
    text-align: center;
    background-color: #e1eedd;
    color:darkgreen;
    width: 60%;
    margin-left: 20%;
    height: 20vh;
}
.link{
    border: 1px solid black;
    background-color: darkgreen;
    text-decoration: none;
    color:#e1eedd;
    border-radius: 0.5rem;
    
    
}
.check{
    background-color:darkgreen ;
    color:#e1eedd;
    border-radius: 0.5rem;
}
input{
    margin:1rem;
    margin-top: 0rem;
    background-color:#e1eedd ;
    color: darkgreen;
}